.screen {
  bottom: 0;
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  .sidebar {
    background-color: blue;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.20), 0 15px 12px rgba(0, 0, 0, 0.22);
    height: 100%;
    position: fixed;
    width: 200px;
    z-index: 99999;

    @media only screen and (min-width: 768px) {
      box-shadow: none;
      min-width: 220px;
      position: relative;
    }

    &.collapsed {
      display: none;
      width: 0px;

      @media only screen and (min-width: 768px) {
        display: block;
        min-width: 60px;
      }
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    width: 100vw;

    .topbar {
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 99;
      background: rgb(30,30,30);
      background: linear-gradient(180deg, rgba(30,30,30,1) 0%, rgba(30,30,30,0) 100%);

      @media only screen and (min-width: 768px) {
        width: calc(100% - 220px);
      }

      &.collapsed {
        width: 100%;

        @media only screen and (min-width: 768px) {
          width: calc(100% - 60px);
        }
      }
    }

    .content {
      margin-top: 90px;
      padding: 20px;
    }
  }
}
