.dropdown {
  position: relative;

  .title {
    background-color: var(--gray0);
    border: 1px solid var(--dark);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    min-width: 80px;
    padding: 7px 10px;
    position: relative;
    z-index: 999;

    .label {
      flex: 1;
      margin-right: 15px;
    }

    .icon {
      color: var(--gray2)
    }
  }

  .list {
    position: absolute;
    top: 34px;
    visibility: hidden;
    width: 100%;

    &.expanded {
      visibility: visible;
    }

    .option {
      background-color: var(--dark);
      cursor: pointer;
      padding: 7px 10px;

      &:first-child {
        padding-top: 10px;
      }

      &:last-child {
        border-radius: 0px 0px 5px 5px;
      }

      &:hover {
        background-color: var(--gray1);
      }
    }
  }
}
