.topbar {
  align-items: center;
  display: flex;
  padding-left: 220px;
  padding-top: 20px;
  padding-right: 20px;

  @media only screen and (min-width: 768px) {
    padding-left: 20px;
  }

  &.collapsed {
    padding-left: 20px;
  }

  .toggler {
    cursor: pointer;
  }

  .profile {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    width: 200px;

    .icon {
      background-color: var(--primary);
      display: flex;
      align-items: center;
      border: 2px solid var(--white);
      border-radius: 50px;
      min-height: 30px;
      justify-content: center;
      min-width: 30px;
    }

    .name {
      display: none;
      font-weight: 600;
      margin-left: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @media only screen and (min-width: 768px) {
        display: block;
      }
    }
  }

  .profileActions {
    background: var(--gray0);
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.20), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    right: 20px;
    top: 65px;
    padding: 5px 20px;
    position: fixed;

    .option {
      color: var(--gray2);
      cursor: pointer;
      padding: 5px 0px;

      .icon {
        margin-right: 10px;
      }

      &:hover {
        color: var(--white);
      }
    }
  }
}
