.container {
  cursor: pointer;
  display: block;
  font-size: 22px;
  margin-bottom: 15px;
  padding-left: 35px;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  &:hover input ~ .checkmark {
    background-color: var(--gray2);
  }

  input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;

    &:checked ~ .checkmark {
      background-color: var(--primary);

      &:after {
        display: block;
      }
    }
  }

  .checkmark {
    background-color: var(--dark);
    border-radius: 2px;
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;

    &.dark {
      background-color: var(--gray0);
    }

    &:after {
      border: solid var(--white);
      border-width: 0 3px 3px 0;
      content: "";
      display: none;
      height: 7px;
      left: 4px;
      position: absolute;
      top: 1px;
      transform: rotate(45deg);
      width: 5px;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}
