.stacktraceItem {
  margin-bottom: 20px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--dark);
  }
}

.info {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;

  > label {
    color: var(--gray2);
  }

  > span {
    font-weight: bold;
  }
}
