.textarea {
  background: var(--dark);
  border: 2px solid transparent;
  border-radius: 5px;
  color: var(--white);
  font-family: var(--font-family);
  font-size: 14px;
  height: 38px;
  padding: 6px 20px;

  &.error {
    border-color: var(--red);
    color: var(--red);
  }

  &:focus {
    background-color: var(--gray1);
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.20), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}
