.topbar {
  align-items: center;
  display: flex;
  padding-left: 220px;
  padding-top: 20px;
  padding-right: 20px;

  @media only screen and (min-width: 768px) {
    padding-left: 20px;
  }

  &.collapsed {
    padding-left: 20px;
  }

  .toggler {
    cursor: pointer;
  }

  .actions {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;

    .profile {
      > button {
        background-color: transparent;
        border: none;
        box-shadow: none;
      }

      .info {
        align-items: center;
        cursor: pointer;
        display: flex;

        .icon {
          background-color: var(--primary);
          display: flex;
          align-items: center;
          border: 2px solid var(--white);
          border-radius: 50px;
          min-height: 30px;
          justify-content: center;
          min-width: 30px;
        }

        .name {
          display: none;
          font-weight: 600;
          margin-left: 8px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          @media only screen and (min-width: 768px) {
            display: block;
          }
        }
      }
    }
  }
}
