.infoCard {
  background: var(--gray0);
  border-left: 4px solid var(--primary);
  border-radius: 5px;
  height: 100%;
  padding: 20px;

  &.primary {
    border-left: 4px solid var(--primary);

  }

  &.success {
    border-left: 4px solid var(--success);
  }

  &.danger {
    border-left: 4px solid var(--danger);
  }

  .label {
    color: var(--gray2);
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  .value {
    font-size: 1.2em;
  }
}
