.button {
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  color: var(--white);
  height: 38px;
  font-weight: 600;
  padding: 0px 20px;

  &.primary {
    background-color: var(--primary);
  }

  &.green {
    background-color: var(--green);
  }

  &.red {
    background-color: var(--red);
  }
}
