.button {
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  color: var(--white);
  height: 38px;
  font-weight: 600;
  padding: 0px 20px;

  &.primary {
    background-color: var(--primary);
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.20), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

  &.green {
    background-color: var(--green);
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.20), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

  &.red {
    background-color: var(--red);
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.20), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

  &.small {
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.20), 0 15px 12px rgba(0, 0, 0, 0.22);
    font-size: 0.8rem;
    height: 32px;
    padding: 0px 10px;
  }
}
