.card {
  background-color: var(--gray0);
  box-shadow: 0 19px 35px rgba(0, 0, 0, 0.20), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  padding: 20px 20px;

  .title {
    margin-bottom: 40px;
  }
}
