.inputBlock {
  display: flex;
  flex-direction: column;

  .label {
    align-items: center;
    display: flex;
    margin-bottom: 2px;

    .required {
      background-color: var(--red);
      border-radius: 50px;
      height: 4px;
      margin-left: 7px;
      width: 4px;
    }
  }

  .error {
    color: var(--red);
    margin-top: 2px;
  }
}
